{% extends 'format.html' %} {% block title %}Bus Tracko{% endblock %} {% block
button %}<button
  class="btn btn-success"
  data-toggle="modal"
  data-target="#signUpModal"
>
  SignUp</button
>{% endblock %} {% block body %}

<!--    FORM-->

<div class="container mt-4">
  <div class="jumbotron">
    <form action="/" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          name="username"
          aria-describedby="emailHelp"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
        />
      </div>
      <div>{{i}}</div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </div>
</div>

<!-- Modal for sign up page -->
<div
  class="modal fade"
  id="signUpModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/api/users" name="registration" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="username"
              aria-describedby="emailHelp"
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Phone number</label>
            <input
              type="number"
              name="mobile"
              class="form-control"
              id="number"
              aria-describedby="emailHelp"
              placeholder="Enter phone number"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Gender</label>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="radio"
                  class="form-check-input"
                  name="gender"
                  value="male"
                />Male
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  type="radio"
                  class="form-check-input"
                  name="gender"
                  value="female"
                />Female
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input
                  type="radio"
                  class="form-check-input"
                  name="gender"
                  value="others"
                />Other
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">DOB</label>
            <input
              type="date"
              name="DOB"
              id="dob"
              class="form-control"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">City</label>
            <input
              type="text"
              name="city"
              id="city"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="city"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Enter Password"
            />
          </div>

          <div class="col-md-12 text-center mb-3">
            <button
              type="submit"
              class=" btn btn-block mybtn btn-primary tx-tfm"
            >
              Get Started For Free
            </button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container bg-success">

  <!--Grid row-->
  <div class="row d-flex justify-content-center">
    <!--Grid column-->
    <div class="col-md-6">

      <!-- Video -->
      <div class="embed-responsive embed-responsive-16by9 my-4">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D-E9LJcends"
          allowfullscreen></iframe>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</div>



{% endblock %}
