<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live</title>
    <script src="nunjucks.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <center><h3>Live Locations (descending)</h3></center>
      <table class="table table-striped">
        <thead>
          <tr class="table-info">
            <th colspan="4">
              <center><h5>Locations</h5></center>
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Lat</th>
            <th>Lon</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody id="tbody">
          {% for item in locations %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.lat }}</td>
            <td>{{ item.lon }}</td>
            <td>{{ item.time }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script src="socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function() {
        var socket = io();
        socket.on("post request", function(msg) {
          console.log(msg);
          const name = "<td>" + msg.name + "</td>";
          const lat = "<td>" + msg.lat + "</td>";
          const lon = "<td>" + msg.lon + "</td>";
          const time = "<td>" + Date((Date.parse(msg.time))) + "</td>";
          const text = "<tr>" + name + lat + lon + time + "</tr>";
          console.log(text);
          $("#tbody").prepend(text);
        });
      });
    </script>
  </body>
</html>
