{% extends 'format.html' %} {% block title %} Choose Bus {% endblock %} {% block
button %}<a href="/logout"><button class="btn btn-success">Logout</button></a>{%
endblock %} {% block style %} /* Always set the map height explicitly to define
the size of the div * element that contains the map. */ #map { height: 60%; } /*
Optional: Makes the sample page fill the window. */ html, body { height: 100%;
margin: 0; padding: 0; {% endblock %} {% block body %}
<a href="wallet">Pay Now</a>
<div class="container mt-4 bg-danger">
  <input id="from" type="textbox" placeholder="from" />
  <input id="to" type="textbox" placeholder="to" />
  <input id="submit" type="button" value="Search Buses" />
</div>
<div class="container mt-2" id="map"></div>

<div class="container mt-2">
  <table id="buses" class="table table-hover">
    <thead>
      <tr class="table-info">
        <th colspan="6">
          <center><h5>Buses</h5></center>
        </th>
      </tr>
      <tr>
        <th>BusNumber</th>
        <th>From</th>
        <th>To</th>
        <!-- <th>Stops</th> -->
        <th>Conductor name</th>
        <!-- <th>Conductor mobile</th> -->
      </tr>
    </thead>
    <tbody>
      <!-- <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a> -->
      {% for item in buses %}
      <tr
        data-toggle="tooltip"
        title="Stops:{{ item.stops }}"
        onclick="gocent('{{ item.busNumber }}')"
      >
        <td>{{ item.busNumber }}</td>
        <td>{{ item.from }}</td>
        <td>{{ item.to }}</td>
        <!-- <td>{{ item.stops }}</td> -->
        <td>{{ item.conductor.name }}</td>
        <!-- <td>{{ item.conductor.mobile }}</td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
  var map;
  var loc = [];
  var directionsService;
  var directionsRenderer;
  function initMap() {
    directionsService = new google.maps.DirectionsService();
    directionsRenderer = new google.maps.DirectionsRenderer();
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: {
        lat: 30.5157861,
        lng: 76.6606175
      }
    });
    directionsRenderer.setMap(map);

    infoWindow = new google.maps.InfoWindow;

    if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Your Location');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

    document.getElementById("submit").addEventListener("click", function() {
      geocodeAddress();
    });
  }

  function geocodeAddress() {
    var address1 = document.getElementById("from").value;
    var address2 = document.getElementById("to").value;
    calculateAndDisplayRoute(
      directionsService,
      directionsRenderer,
      address1,
      address2
    );
  }
  function calculateAndDisplayRoute(
    directionsService,
    directionsRenderer,
    address1,
    address2
  ) {
    directionsService.route(
      {
        origin: { query: address1 },
        destination: { query: address2 },
        travelMode: "DRIVING"
      },
      async function(response, status) {
        if (status === "OK") {
          const name = "CH 04 AK 6495";
          for (arr in response.routes[0].overview_path) {
            let lat = response.routes[0].overview_path[arr].lat();
            let lng = response.routes[0].overview_path[arr].lng();
            // console.log(name, lat, lng);
            // await $.post(
            //   "/api/locations", // url
            //   { name: name, lat: lat, lon: lng }, // data to be submit
            //   function(data, status, jqXHR) {
            //     // success callback
            //     console.log("status: " + status + ", data: " + data);
            //   }
            // );
          }
          directionsRenderer.setDirections(response);
        } else {
          window.alert("Directions request failed due to " + status);
        }
      }
    );
  }

  var marker = [];
  var pt = [];
  function pan(lat, lng, name) {
    // console.log("pt: ", pt);
    var panPoint = new google.maps.LatLng(lat, lng);
    if (pt[0]) {
      map.panTo(
        new google.maps.LatLng(
          marker[pt[1]].position.lat(),
          marker[pt[1]].position.lng()
        )
      );
      map.setZoom(15);
    }
    var flag = true;
    // console.log(marker.length);
    for (let i = 0; i < marker.length; i++) {
      if (name === marker[i].getLabel()) {
        flag = false;
        marker[i].setPosition(panPoint);
      }
    }
    if (flag) {
      const temp = new google.maps.Marker({
        position: { lat: lat, lng: lng },
        label: name,
        icon: "image (4).png",
        map: map
      });
      temp.addListener("click", function() {
        gocent(temp.getLabel());
      });
      google.maps.event.addListener(map, "zoom_changed", function() {
        let zoomlevel = map.getZoom();

        if (zoomlevel === 15) return;
        pt[0] = false;
        pt[1] = -1;
      });
      marker.push(temp);
    }
  }

  function gocent(name) {
    for (let i = 0; i < marker.length; i++) {
      if (name === marker[i].getLabel()) {
        if (i === pt[1]) {
          pt[0] = false;
          return;
        }
        pt[0] = true;
        pt[1] = i;
        return;
      }
    }
  }

  var socket = io();
  socket.on("locs", function(msg) {
    // console.log(msg);
    pan(msg.lat, msg.lng, msg.name);
  });
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqqW5pq28Qera8ScOykfyKpiIP5Cc0XAM&callback=initMap"
></script>
{% endblock %}
