{% extends 'format.html' %} {% block title %} Choose Bus {% endblock %} {% block
button %}<a href="/logout"><button class="btn btn-success">Logout</button></a>{%
endblock %} {% block style %} /* Always set the map height explicitly to define
the size of the div * element that contains the map. */ #map { height: 60%; } /*
Optional: Makes the sample page fill the window. */ html, body { height: 100%;
margin: 0; padding: 0; {% endblock %} {% block body %}
<a href="wallet">Pay Now</a>
<div class="container mt-4 bg-danger">
  <input id="from" type="textbox" placeholder="from" />
  <input id="to" type="textbox" placeholder="to" />
  <input id="submit" type="button" value="Search Buses" />
</div>
<div class="container mt-2" id="map"></div>
<script src="socket.io.js"></script>
<script>
  var map;
  var loc = [];
  var directionsService;
  var directionsRenderer;
  function initMap() {
    directionsService = new google.maps.DirectionsService();
    directionsRenderer = new google.maps.DirectionsRenderer();
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 10,
      center: {
        lat: -34.397,
        lng: 150.644
      }
    });
    directionsRenderer.setMap(map);

    document.getElementById("submit").addEventListener("click", function() {
      geocodeAddress();
    });
  }

  function geocodeAddress() {
    var address1 = document.getElementById("from").value;
    var address2 = document.getElementById("to").value;
    calculateAndDisplayRoute(
      directionsService,
      directionsRenderer,
      address1,
      address2
    );
  }
  function calculateAndDisplayRoute(
    directionsService,
    directionsRenderer,
    address1,
    address2
  ) {
    directionsService.route(
      {
        origin: { query: address1 },
        destination: { query: address2 },
        travelMode: "DRIVING"
      },
      function(response, status) {
        if (status === "OK") {
          directionsRenderer.setDirections(response);
        } else {
          window.alert("Directions request failed due to " + status);
        }
      }
    );
  }

  var marker = []
  function pan(lat, lng, name) {
    var panPoint = new google.maps.LatLng(lat, lng);
    // map.panTo(panPoint);
    var flag = true;
    console.log(marker.length);
    for (let i = 0; i < marker.length; i++) {
      if (name === marker[i].getLabel()) {
        flag = false;
        marker[i].setPosition(panPoint);
      }
    }
    if (flag) {
      const temp = new google.maps.Marker({
        position: { lat: lat, lng: lng },
        label: name,
        map: map
      });
      marker.push(temp);
    }
  }

  var socket = io();
  socket.on("test_socket", function(msg) {
    console.log(msg);
    pan(msg.lat, msg.lng, msg.name);
  });
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqqW5pq28Qera8ScOykfyKpiIP5Cc0XAM&callback=initMap"
></script>
{% endblock %}
