<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="utf-8" />
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      async
    ></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqqW5pq28Qera8ScOykfyKpiIP5Cc0XAM&callback=init&callback=initMap"
      defer
    ></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      var locs;
      async function initMap() {
        await $.get("/api/locations", function(data, textStatus, jqXHR) {
          console.log("status: " + textStatus + ", data: " + data[0]);
          locs = data;
        });
        let mapOptions = {
          zoom: 10,
          center: new google.maps.LatLng(30.74536, 76.639875),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(
          document.getElementById("map"),
          mapOptions
        );

        var labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

        for (var i = 0; i < locs.length; i++) {
          locs[i].lng = locs[i].lon;
          delete locs[i].lon;
        }

        var markers = locs.map(function(location, i) {
          console.log(location);
          return new google.maps.Marker({
            position: location,
            label: location.name
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers, {
          imagePath:
            "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m"
        });
      }
    </script>
  </body>
</html>
