<!DOCTYPE html>
<html>
  <head>
    <title>API Stats</title>
    <script src="nunjucks.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm bg-light sticky-top">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all-logs.log">Logs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/locations">All locations(live)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/realtime">Realtime Location</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/api/locations">Location API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/transactions">Transactions API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/buses">Bus API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/users">User API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/conductors">Conductor API</a>
          </li>
        </ul>
      </nav>
      <br />
      <h2>Tables :-</h2>
      <div class="btn-group btn-block" role="group">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary btn-block"
            data-toggle="collapse"
            data-target="#locations"
          >
            Last 20 locations
          </button>
        </div>
        <div class="btn-group">
          <form action="/locations" method="GET">
            <button
              type="submit"
              class="btn btn-primary btn-block"
            >
              All locations(live)
            </button>
          </form>
        </div>
        <div class="btn-group">
          <form action="/realtime" method="GET">
            <button
              type="submit"
              class="btn btn-primary btn-block"
            >
              Realtime Location
            </button>
          </form>
        </div>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary btn-block"
            data-toggle="collapse"
            data-target="#users"
          >
            Users
          </button>
        </div>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary btn-block"
            data-toggle="collapse"
            data-target="#conductors"
          >
            Conductors
          </button>
        </div>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary btn-block"
            data-toggle="collapse"
            data-target="#buses"
          >
            Buses
          </button>
        </div>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary btn-block"
            data-toggle="collapse"
            data-target="#transactions"
          >
            Transactions
          </button>
        </div>
      </div>
      <br />
      <table id="locations" class="collapse table table-striped">
        <thead>
          <tr class="table-info">
            <th colspan="4">
              <center><h5>Locations</h5></center>
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Lat</th>
            <th>Lon</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in locations %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.lat }}</td>
            <td>{{ item.lon }}</td>
            <td>{{ item.time }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <table id="users" class="collapse table table-striped">
        <thead>
          <tr class="table-info">
            <th colspan="5">
              <center><h5>Users</h5></center>
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>mobile</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          {% for item in users %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.mobile }}</td>
            <td>{{ item.DOB }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.city }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <table id="conductors" class="collapse table table-striped">
        <thead>
          <tr class="table-info">
            <th colspan="3">
              <center><h5>Conductors</h5></center>
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>BusNumber</th>
          </tr>
        </thead>
        <tbody>
          {% for item in conductors %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.mobile }}</td>
            <td>{{ item.busNumber }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <table id="buses" class="collapse table table-striped">
        <thead>
          <tr class="table-info">
            <th colspan="6">
              <center><h5>Buses</h5></center>
            </th>
          </tr>
          <tr>
            <th>Conductor name</th>
            <th>Conductor mobile</th>
            <th>Stops</th>
            <th>BusNumber</th>
            <th>From</th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
          {% for item in buses %}
          <tr>
            <td>{{ item.conductor.name }}</td>
            <td>{{ item.conductor.mobile }}</td>
            <td>{{ item.stops }}</td>
            <td>{{ item.busNumber }}</td>
            <td>{{ item.from }}</td>
            <td>{{ item.to }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <table id="transactions" class="collapse table table-striped">
        <thead>
          <tr class="table-info">
            <th colspan="10">
              <center><h5>Transactions</h5></center>
            </th>
          </tr>
          <tr>
            <th>User name</th>
            <th>User mobile</th>
            <th>Conductor name</th>
            <th>Conductor mobile</th>
            <th>Bus busNumber</th>
            <th>Bus from</th>
            <th>Bus to</th>
            <th>Amount</th>
            <th>From</th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
          {% for item in transactions %}
          <tr>
            <td>{{ item.user.name }}</td>
            <td>{{ item.user.mobile }}</td>
            <td>{{ item.conductor.name }}</td>
            <td>{{ item.conductor.mobile }}</td>
            <td>{{ item.bus.busNumber }}</td>
            <td>{{ item.bus.from }}</td>
            <td>{{ item.bus.to }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.from }}</td>
            <td>{{ item.to }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
    </div>
  </body>
</html>
