<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="test_style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqqW5pq28Qera8ScOykfyKpiIP5Cc0XAM&callback=init&callback=initMap"
      defer
    ></script> -->
  </head>
  <body>
    <div id="myModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Subscribe our Newsletter</h4>
          </div>
          <div class="modal-body">
            <p>
              Whose Simulation to run :-
            </p>
            <div class="form-group">
              <select id="slct">
                <option>PB 14 AL 7964</option>
                <option>CH 04 AK 6495</option>
                <option>DL 01 AB 4723</option>
                <option>PB 02 CB 2876</option>
              </select>
            </div>
            <button id="butt" class="btn btn-primary close" data-dismiss="modal">Run</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Starting Simulation...</h1>
      <h3>Sending Lats and Lons after 1 sec Interval</h3>
      <h5>(switch back to /realtime to see)</h5>
      <table id="tble" class="table">
        <tr>
          <th>Locations of</th>
          <th>Lat</th>
          <th>Lng</th>
        </tr>
      </table>
    </div>

    <script src="socket.io.js"></script>
    <script src="test_main.js"></script>
  </body>
</html>
